:root {
    --body-background: #f6f5f6;
    --white: hsl(0, 0%, 100%);
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-400: hsl(264, 82%, 70%);
    --purple-500: hsl(263, 55%, 52%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

html {
    font-size: 13px;
}

body {
    background-color: var(--body-background);
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
main {
    display: grid;
    place-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    width: min(100% - 48px, 1110px);
    gap: 2.46rem;
}

.testimonial {
    padding: 2.46rem;
    display: flex;
    flex-direction: column;
    gap: 1.23rem;
    border-radius: 0.61rem;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.24);
}
.testimonial__header {
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
    align-items: center;
}

.testimonial__avatar {
    width: 2.15rem;
    height: 2.15rem;
    border-radius: 50%;
}

.testimonial__meta {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.testimonial__name {
    font-size: 1rem;
}

.testimonial__status {
    font-size: 0.84rem;
}

.testimonial__headline {
    font-size: 1.53rem;
    line-height: 1.2;
    font-weight: 600;
}

.testimonial__quote {
    line-height: 1.4;
}

.testimonial--jeanette, .testimonial--kira {
    background-color: var(--white);
    color: var(--grey-500);
}

.testimonial--daniel {
    background-color: var(--purple-500);
    color: var(--white);
}

.testimonial--jonathan {
    background-color: var(--grey-500);
    color: var(--white);
}

.testimonial--patrick {
    background-color: var(--dark-blue);
    color: var(--white);
}

.testimonial--daniel .testimonial__avatar {
    box-shadow: 0 0 0 2px var(--purple-400);
}

.testimonial--patrick .testimonial__avatar {
    box-shadow: 0 0 0 2px var(--purple-500);
}

.testimonial--daniel .testimonial__status, .testimonial--daniel .testimonial__quote {
    color: var(--purple-50);
}
.testimonial--jonathan .testimonial__status, .testimonial--jonathan .testimonial__quote {
    color: var(--grey-100);
}

.testimonial--jeanette .testimonial__status, .testimonial--jeanette .testimonial__quote {
    color: var(--grey-400);
}

.testimonial--kira .testimonial__status, .testimonial--kira .testimonial__quote {
    color: var(--grey-400);
}

.testimonial--patrick .testimonial__status, .testimonial--patrick .testimonial__quote {
    color: var(--grey-200);
}

@media (min-width: 50rem) {

    .main {
        padding-top: 6.4rem;
        padding-bottom: 6.4rem;
    }

    .container {
        grid-template-columns: 1fr 1fr;
    }
    
    .testimonial--daniel {
        background-image: url('images/bg-pattern-quotation.svg');
        background-repeat: no-repeat;
        background-position: top 0 right 80px;
        background-size: 104px 102px;
    }

    .testimonial--daniel, .testimonial--kira, .testimonial--patrick {
        grid-column: span 2;
    }
}

@media (min-width: 86rem) {
    .container {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.84rem 2.46rem; /* row-gap column-gap */
    }
    .testimonial--daniel {
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
    }
    .testimonial--jonathan {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .testimonial--jeanette {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .testimonial--patrick {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    .testimonial--kira {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }
}